<div class="container container--overview">
  <img [class]="profile.class" [src]="profile.src" [alt]="profile.alt" />
  <div>
    <ul class="no-bullets">
      <li>
        <i class="fas fa-address-card">
          <span class="overview">{{name}}</span>
        </i>
      </li>
      <li>
        <i class="fas fa-home">
          <span class="overview">{{location}}</span>
        </i>
      </li>
      <li>
        <i class="fas fa-envelope">
          <a class="overview overview--email" href="mailto:{{email}}">{{email}}</a>
        </i>
      </li>
      <li>
        <i class="fas fa-briefcase">
          <span class="overview">{{job.title}}</span>
        </i>
      </li>
      <li>
        <i class="fas fa-building">
          <span class="overview">{{job.company}}</span>
        </i>
      </li>
    </ul>
  </div>
</div>
