// ****************************************************************************
// Local styles
// ****************************************************************************
@import '../../../style-helpers/colors';
@import '../../../style-helpers/fonts';
@import '../../../style-helpers/viewportHelper';

.container--routing-home{
  font-size: $font-size--xtra-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $dark-gray;
  cursor: default;
}

.title--hover-green {
  &:hover{
    color: map-get($primary, 2);
  }
}

.title--hover-red {
  &:hover{
    color: map-get($primary, 1);
  }
}

.title--hover-yellow {
  &:hover{
    color: map-get($primary, 4);
  }
}
