// ****************************************************************************
// Navbar
// ****************************************************************************
$toolbar--height: 0px;
$navbar--height: 60px;
$navbar-mobile--height: 50px;

// ****************************************************************************
// Footer
// ****************************************************************************
$footer--height: 60px;

// ****************************************************************************
// Container
// ****************************************************************************
$container--padding-left: 4%;
$container--padding-right: 4%;
