// ****************************************************************************
// Local styles
// ****************************************************************************
@import './style-helpers/animation';
@import './style-helpers/colors';
@import './style-helpers/fonts';
@import './style-helpers/viewportHelper';

.container {
  padding-top: calc(#{$navbar--height} + #{$toolbar--height} + 0px);
  max-width: 3000px;
  // min-height == [window height - (padding-top + padding-bottom) - toolbar-height - (extra padding + footer padding) - footer height]
  min-height: calc(100vh - (2*#{$navbar--height}) - #{$toolbar--height} - (2*30px) - #{$footer--height});
  padding-right: $container--padding-right;
  padding-left: $container--padding-left;
  padding-bottom: $navbar--height;
}

.no-bullets {
  list-style-type: none;
}

body {
  background-color: whitesmoke
  -webkit-scrollbar { width: 0 !important }
}

// ****************************************************************************
// Global Hover Animations
// ****************************************************************************

.element--hover-green {
  transition: $defaultTransition;
  &:hover {
    color: map-get($primary, 2);
  }
}

.element--hover-red {
  transition: $defaultTransition;
  &:hover {
    color: map-get($primary, 1);
  }
}

.element--hover-blue {
  transition: $defaultTransition;
  &:hover {
    color: map-get($primary, 3);
  }
}

.element--hover-yellow {
  transition: $defaultTransition;
  &:hover {
    color: map-get($primary, 4);
  }
}

.element--hover-grow {
  transition: $defaultTransition;
    &:hover { transform: scale(1.1); }
}

