<!-- STATE: Navigation if the application is not mobile -->
<span *ngIf="!displayMobileView">
    <mat-toolbar-row class="primary navigationContainerToolbar" *ngFor="let item of desktopNavigationItemList">
        <a mat-button [routerLink]=item.route>{{item.title}}</a>
    </mat-toolbar-row>
</span>



<!-- STATE: Navigation if the application is mobile -->
<!-- <span *ngIf="displayMobileView">
  <div id="navigationToolbarMobile" class="navigationContainerToolbar">
    <mat-toolbar id="navigationToolbarListMobile" class="mobile" id="navigationToolbarListDesktop" color="primary" class="mat-elevation-z6">
        <a mat-button class="{{item.type}}" routerLink={{item.route}}>{{item.title}}</a>
    </mat-toolbar>
  </div>

  <div id="navigationTabBar" class="navigationContainerTabBar">
    <mat-toolbar id="navigationToolbarList" class="navItem" *ngFor="let item of desktopNavigationItemList">
        <a mat-button class="{{item.type}}" routerLink={{item.route}}>{{item.title}}</a>
    </mat-toolbar>
  </div>
</span> -->
