<!-- STATE: Navigation if the application is not mobile -->
<mat-toolbar *ngIf="!displayMobileView" class="container--routing-navigation">
    <mat-toolbar-row class="container--toolbar">
        <span *ngFor="let item of desktopNavigationItemList" class="toolbar--item">
            <a mat-button [routerLink]=item.route>{{item.title}}</a>
        </span>
        <span class="navigation--spacer"></span>
        <!-- TODO:  Insert Theme change -->
    </mat-toolbar-row>
</mat-toolbar>



<!-- STATE: Navigation if the application is mobile -->
<!-- <span *ngIf="displayMobileView">
  <div id="navigationToolbarMobile" class="navigationContainerToolbar">
    <mat-toolbar id="navigationToolbarListMobile" class="mobile" id="navigationToolbarListDesktop" color="primary" class="mat-elevation-z6">
        <a mat-button class="{{item.type}}" routerLink={{item.route}}>{{item.title}}</a>
    </mat-toolbar>
  </div>

  <div id="navigationTabBar" class="navigationContainerTabBar">
    <mat-toolbar id="navigationToolbarList" class="navItem" *ngFor="let item of desktopNavigationItemList">
        <a mat-button class="{{item.type}}" routerLink={{item.route}}>{{item.title}}</a>
    </mat-toolbar>
  </div>
</span> -->
